<section id="login" class="d-flex">
    <form action="" method="POST" id="log">
        <h3>Déjà inscrit</h3>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
            <a href="/lost-password">Mot de passe oublié</a>
        </div>

        <input type="submit" value="Connexion">
    </form>
    
    <form action="/add-user" method="POST" id="registre">
        <h3>Inscription</h3>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">

            <label for="password">Confirmer mot de passe</label>
            <input type="password" name="passwordConfirm" id="password">
        </div>

        <input type="submit" value="S'inscrire">
    </form>
</section>

<div class="error hidden">
    <p></p>
</div>